
            <div class=" profile"> 
                <div class="profile-bottom"> 
                    <center>
                        <h3><i class="fa fa-user"></i>Edit Profile</h3>
                    </center>                     
                    <div class="profile-bottom-top"> 
                        <div class="col-md-8 profile-text"> 
                            <table> 
                                <tr>
                                    <td>First Name</td> 
                                    <td>
                                        <input type="text" class="form-control" placeholder="Kai">
                                        <td></td>
                                    </td>
                                </tr>
                                <tr> 
                                    <td>Last Name</td> 
                                    <td>
                                        <input type="text" class="form-control" placeholder="Reyes">
                                    </td>                                     
                                </tr>                                 
                                <tr> 
                                    <td>Email Address</td> 
                                    <td>
                                        <input type="text" class="form-control" placeholder="example@gmail.com">
                                    </td>                                     
                                </tr>                                 
                                <tr> 
                                    <td>Password </td> 
                                    <td>
                                        <input type="text" class="form-control" placeholder="*********">
                                    </td>                                     
                                </tr>                                 
                            </table>                             
                        </div>                         
                        <div class="clearfix"></div>                         
                    </div>                     
                    <center>
                        <button type="button" href="#" class="btn btn-success">Save changes</button>
                    </center>                     
                    <div class="clearfix"></div>                     
                </div>                 
            </div>             
        </div>         
    </div>     
    <div class="clearfix"> </div>     
</div>  
