<nav class="navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1> <a class="navbar-brand" href="personneldashboard.html">iReserve</a></h1>
    </div>
    <!-- Brand and toggle get grouped for better mobile display -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="drop-men">
        <ul class=" nav_1">
            <li class="dropdown at-drop">
                <a href="#" class="dropdown-toggle dropdown-at " data-toggle="dropdown"><i class="fa fa-globe"></i> </a>
                <ul class="dropdown-menu menu1 " role="menu">
                    <li>
                        <a href="#"></a>
                </ul>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown">
                    <span class=" name-caret">Admin<i class="caret"></i></span>
                    <img src="">
                </a>
                <ul class="dropdown-menu " role="menu">
                    <li>
                        <a href="edit_profile.html"><i class="fa fa-edit"></i>Edit Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-arrow-circle-left"></i>Logout</a>
                    </li>
                </ul>
            </li>
            </ul>
    </div>
    <!-- /.navbar-collapse -->
    <div class="clearfix">
    </div>
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li>
                    <a href="home.html" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label"></span>Dashboard</a>
                </li>
                <li>
                    <a href="reported_accounts.html" class=" hvr-bounce-to-right"><i class="fa fa-list-alt nav_icon "></i><span class="nav-label"></span>Reported Accounts</a>
                </li>
                <li>
                    <a href="reported_feedbacks.html" class=" hvr-bounce-to-right"><i class="fa fa-list-ol nav_icon"></i> <span class="nav-label">Reported Feedbacks</span> </a>
                </li>
                <li>
                    <a href="verified_account.html" class=" hvr-bounce-to-right"><i class="fa fa-users nav_icon"></i> <span class="nav-label">Hotel Applicant</span> </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
