        <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }



            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });



        });
        </script>
        <!----->
        <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#3bb2d0',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#fbb03b',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ed6498',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>

        <div id="wrapper">
            <!----->
            <nav class="navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1> <a class="navbar-brand" href="personneldashboard.html">iReserve</a></h1>
                </div>
                <!-- Brand and toggle get grouped for better mobile display -->
                <!-- Collect the nav links, forms, and other content for toggling -->
                  <div class="drop-men">
                        <ul class=" nav_1">
                            <li class="dropdown at-drop">
                                <a href="#" class="dropdown-toggle dropdown-at " data-toggle="dropdown"><i class="fa fa-globe"></i> </a>
                                <ul class="dropdown-menu menu1 " role="menu">
                                    <li>
                                        <a href="#"></a>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown">
                                    <span class=" name-caret">Admin<i class="caret"></i></span>
                                    <img src="">
                                </a>
                                <ul class="dropdown-menu " role="menu">
                                    <li>
                                        <a href="edit_profile.html"><i class="fa fa-edit"></i>Edit Profile</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fa fa-arrow-circle-left"></i>Logout</a>
                                    </li>
                                </ul>
                            </li>
                            </ul>
                    </div>
                <!-- /.navbar-collapse -->
                <div class="clearfix">
                </div>
                <div class="navbar-default sidebar" role="navigation">
                    <div class="sidebar-nav navbar-collapse">
                        <ul class="nav" id="side-menu">
                             <li>
                <a href="home.html" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon "></i><span class="nav-label"></span>Dashboard</a>
            </li>
            <li>
                <a href="reported_accounts.html" class=" hvr-bounce-to-right"><i class="fa fa-list-alt nav_icon "></i><span class="nav-label"></span>Reported Accounts</a>
            </li>
            <li>
                <a href="reported_feedbacks.html" class=" hvr-bounce-to-right"><i class="fa fa-list-ol nav_icon"></i> <span class="nav-label">Reported Feedbacks</span> </a>
            </li>
            <li>
                <a href="verified_account.html" class=" hvr-bounce-to-right"><i class="fa fa-users nav_icon"></i> <span class="nav-label">Hotel Applicant</span> </a>
            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <div id="page-wrapper" class="gray-bg dashbard-1">
                <div class="content-main">
                    <!--banner-->
                    <div class="banner">
                        <h2> <a href="personneldashboard.html">Home</a> <i class="fa fa-angle-right"></i> <span>Dashboard</span> </h2>
                    </div>
                    <!--//banner-->                     
                    <!--content-->                     
                    <div class="content-mid"> 
                        <div class="col-md-12"> 
                            <div class="cal1 cal_2">
                                <div class="clndr">
                                    <div class="clndr-controls">
                                        <div class="clndr-control-button">
                                            <p class="clndr-previous-button">previous</p>
                                        </div>
                                        <div class="month">July 2015</div>
                                        <div class="clndr-control-button rightalign">
                                            <p class="clndr-next-button">next</p>
                                        </div>
                                    </div>
                                    <table class="clndr-table" border="0" cellspacing="0" cellpadding="0">
                                        <thead>
                                            <tr class="header-days">
                                                <td class="header-day">S</td>
                                                <td class="header-day">M</td>
                                                <td class="header-day">T</td>
                                                <td class="header-day">W</td>
                                                <td class="header-day">T</td>
                                                <td class="header-day">F</td>
                                                <td class="header-day">S</td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td class="day adjacent-month last-month calendar-day-2015-06-28">
                                                    <div class="day-contents">28</div>
                                                </td>
                                                <td class="day adjacent-month last-month calendar-day-2015-06-29">
                                                    <div class="day-contents">29</div>
                                                </td>
                                                <td class="day adjacent-month last-month calendar-day-2015-06-30">
                                                    <div class="day-contents">30</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-01">
                                                    <div class="day-contents">1</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-02">
                                                    <div class="day-contents">2</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-03">
                                                    <div class="day-contents">3</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-04">
                                                    <div class="day-contents">4</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day calendar-day-2015-07-05">
                                                    <div class="day-contents">5</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-06">
                                                    <div class="day-contents">6</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-07">
                                                    <div class="day-contents">7</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-08">
                                                    <div class="day-contents">8</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-09">
                                                    <div class="day-contents">9</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-10">
                                                    <div class="day-contents">10</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-11">
                                                    <div class="day-contents">11</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day calendar-day-2015-07-12">
                                                    <div class="day-contents">12</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-13">
                                                    <div class="day-contents">13</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-14">
                                                    <div class="day-contents">14</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-15">
                                                    <div class="day-contents">15</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-16">
                                                    <div class="day-contents">16</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-17">
                                                    <div class="day-contents">17</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-18">
                                                    <div class="day-contents">18</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day calendar-day-2015-07-19">
                                                    <div class="day-contents">19</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-20">
                                                    <div class="day-contents">20</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-21">
                                                    <div class="day-contents">21</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-22">
                                                    <div class="day-contents">22</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-23">
                                                    <div class="day-contents">23</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-24">
                                                    <div class="day-contents">24</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-25">
                                                    <div class="day-contents">25</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="day calendar-day-2015-07-26">
                                                    <div class="day-contents">26</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-27">
                                                    <div class="day-contents">27</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-28">
                                                    <div class="day-contents">28</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-29">
                                                    <div class="day-contents">29</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-30">
                                                    <div class="day-contents">30</div>
                                                </td>
                                                <td class="day calendar-day-2015-07-31">
                                                    <div class="day-contents">31</div>
                                                </td>
                                                <td class="day adjacent-month next-month calendar-day-2015-08-01">
                                                    <div class="day-contents">1</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>                             
                            <!----Calender -------->                             
                            <link rel="stylesheet" href="css/clndr.css" type="text/css" />
                            <script src="js/underscore-min.js" type="text/javascript"></script>
                            <script src="js/moment-2.2.1.js" type="text/javascript"></script>
                            <script src="js/clndr.js" type="text/javascript"></script>
                            <script src="js/site.js" type="text/javascript"></script>
                            <!----End Calender -------->                             
                        </div>                         
                        <!--//content-->                         
                        <!---->                         
                    </div>
                </div>                 
            </div>             
</div>