

<div class="container-fluid" >
     <div ng-controller ="systemAdminController">
               <center><h5 style = "padding-top : 25px">Hotel Accounts</h5></center>
                <table class="table" style = " padding-top: 100px">
                    <thead> 
                        <tr>
                            <th>Hotel Account</th>
                            <th> Email Address</th>
                            <th></th> 
                            <th></th> 
                        </tr>                         
                    </thead>                     
                    <tbody>
                        <tr ng-repeat = "account in accounts">
                            <td>{{ account.hotel_name }}</td>
                              <td>{{ account.email_address }}</td>
                            <td class="col-md-2">
                                <button type="button" ng-click = "blockaccount(account.hotelid)" class="btn btn-block btn-xs btn-danger">Block</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
               </div>
                    <div class="clearfix"></div>                     
                
    <div class="clearfix"> </div>     

