    <div class="container-fluid" ng-init ="reported_feedbacks()">
                <center><h5 style = "padding-top : 25px">Feedbacks</h5></center>
                <table class="table"> 
                    <thead> 
                        <tr> 
                            <th>Name</th>
                            <th>Comment</th>
                            <th></th> 
                            <th></th> 
                        </tr>                         
                    </thead>                     
                    <tbody>
                        <tr ng-repeat = "res in reported_fd">
                            <td>{{ res.name }}</td>
                            <td>{{ res.comment }}</td>
                            <td class="col-md-2">
                                <button type="button" ng-click = "deletefeedback(feedback.feedbackid)" class="btn btn-block btn-xs btn-danger">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                    <div class="clearfix"></div>                     
                </div>
    <div class="clearfix"> </div>
