  

          <div class="container-fluid" ng-controller = "systemAdminController">
                <center><h5 style= "padding-top : 25px">Applicants</h5></center>
                <table class="table"> 
                    <thead> 
                        <tr>
                            <th>Hotel Name</th> 
                            <th></th>
                            <th></th> 
                        </tr>                         
                    </thead>                     
                    <tbody ng-init = "verifyaccounts()">
                        <tr ng-repeat = "verify in verif_acct">
                            <td>{{ verify.hotel_name }}</td>
                            <td class="col-md-2">
                                <button type="button" ui-sref = "system_admin_viewinfo" class="btn btn-block btn-xs btn-info">View info</button>
                            </td>                             
                            <td class="col-md-2">
                                <button type="button" class="btn btn-block btn-xs btn-success" ng-click = "verify_acct()">Verify</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                    <div class="clearfix"></div>                     
                </div>
    <div class="clearfix"> </div>     
