,<!DOCTYPE HTML>
<html>
<head>
    <title>iReserve | Hotel Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design"/>
    <script type="application/x-javascript"> addEventListener("load", function () {
        setTimeout(hideURLbar, 0);
    }, false);
    function hideURLbar() {
        window.scrollTo(0, 1);
    } </script>
    <link href="admins/css/bootstrap.min.css" rel='stylesheet' type='text/css'/>
    <!-- Custom Theme files -->
    <link href="admins/css/style.css" rel='stylesheet' type='text/css'/>
    <link href="admins/css/font-awesome.css" rel="stylesheet">
    <script src="admins/js/jquery.min.js"></script>
    <!-- Mainly scripts -->
    <script src="admins/js/jquery.metisMenu.js"></script>
    <script src="admins/js/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <link href="admins/css/custom.css" rel="stylesheet">
    <script src="admins/js/custom.js"></script>
    <script src="admins/js/screenfull.js"></script>
    <script>
        $(function () {
            $('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

            if (!screenfull.enabled) {
                return false;
            }


            $('#toggle').click(function () {
                screenfull.toggle($('#container')[0]);
            });
        });
    </script>


    <!--skycons-icons-->
    <script src="admins/js/skycons.js"></script>
    <!--//skycons-icons-->
</head>
<body ng-app="myApp">
<div id="wrapper">

    <!----->
    <nav class="navbar-default navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1><a class="navbar-brand" href="index.html">iReserve</a></h1>
        </div>
        <div class=" border-bottom">
            <div class="full-left">
                <section class="full-top">
                    <button id="toggle"><i class="fa fa-arrows-alt"></i> Full Screen</button>
                </section>

                <div class="clearfix"></div>
            </div>


            <!-- Brand and toggle get grouped for better mobile display -->

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="drop-men" style="padding: 14px 80px 0px 0px">
                <ul class=" nav_1">

                    <li class="dropdown at-drop">
                        <a href="#" class="dropdown-toggle dropdown-at " data-toggle="dropdown"><i
                                class="fa fa-globe"></i> <span class="number">0</span></a>
                        <ul class="dropdown-menu menu1 " role="menu">

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span
                                class=" name-caret">Admin<i class="caret"></i></span></a>
                        <ul class="dropdown-menu " role="menu" ng-controller="userController">
                            <li><a ng-click="logout()"><i class="fa fa-clipboard"></i>Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div><!-- /.navbar-collapse -->
            <div class="clearfix">

            </div>

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li>
                            <a ui-sref="hotel_admin" class=" hvr-bounce-to-right"><i
                                    class="fa fa-dashboard nav_icon "></i><span class="nav-label">Dashboards</span> </a>
                        </li>
                        <li>
                            <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-indent nav_icon"></i> <span
                                    class="nav-label">Personnel</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" ng-controller="hotelAdminController">
                                <li><a ui-sref="hotel_admin_viewhotelpersonnel" class=" hvr-bounce-to-right"> <i
                                        class="fa fa-list-ol nav_icon"></i>View Personnel</a></li>

                                <li><a ui-sref="hotel_admin_addpersonnel" class=" hvr-bounce-to-right"><i
                                        class="fa fa-male nav_icon"></i>Add Personnel</a></li>
                            </ul>
                        </li>
                        <li>
                            <a ui-sref="hotel_admin_validation" class=" hvr-bounce-to-right"><i
                                    class="fa fa-check-square-o nav_icon"></i>Validation</a>
                        </li>
                        <!--<li>-->
                            <!--<a href="#" class=" hvr-bounce-to-right"><i class="fa fa-desktop nav_icon"></i> <span-->
                                    <!--class="nav-label">Profile</span><span class="fa arrow"></span></a>-->
                            <!--<ul class="nav nav-second-level">-->
                                <!--<li><a ui-sref="hotel_admin_hotelprofile" class=" hvr-bounce-to-right"> <i-->
                                        <!--class="fa fa-file-text-o nav_icon"></i>View Profile</a></li>-->
                                <!--<li><a href="faq.html" class=" hvr-bounce-to-right"><i-->
                                        <!--class="fa fa-question-circle nav_icon"></i>Update Profile</a></li>-->
                            <!--</ul>-->
                        <!--</li>-->
                        <li>
                            <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-reorder nav_icon"></i> <span
                                    class="nav-label">Manage Room</span><span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level" ng-controller="hotelAdminController">
                                <li><a ui-sref="hotel_admin_view_room" class=" hvr-bounce-to-right"> <i
                                        class="fa fa-eye nav_icon"></i>View Rooms</a></li>
                                <li><a ui-sref="hotel_admin_add_room" class=" hvr-bounce-to-right"> <i
                                        class="fa fa-plus nav_icon"></i>Add Room</a></li>
                                        <li>
                                <a ui-sref="hotel_admin_image" class=" hvr-bounce-to-right"><i class="fa fa-dashboard nav_icon " ng-init="getImage()"></i><span class="nav-label">Image</span> </a>
                            </li>
                                <!--<li><a ui-sref="hotel_admin_update_room" class=" hvr-bounce-to-right"> <i-->
                                        <!--class="fa fa-edit nav_icon"></i>Update Room</a></li>-->
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div id="page-wrapper" class="gray-bg dashbard-1">

                <!---->

                <div ui-view class="slide"></div>
                <!---->
                <div class="copy">
                    <p> &copy; 2016 iReserve. All Rights Reserved | Design by <a href="#"
                                                                                 target="_blank">Team iReserve</a></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </nav>
</div>

<script src="admins/js/pie-chart.js" type="text/javascript"></script>

<!---->
<!--scrolling js-->
<script src="js/angular.js" type="text/javascript"></script>
<script src="js/angular-ui-router.js" type="text/javascript"></script>
<!--<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>-->

<script src="js/angular-route.min.js" type="text/javascript"></script>
<script src="js/angular-resource.js" type="text/javascript"></script>
<script src="js/angular-animate.js" type="text/javascript"></script>
<script src="js/angular-mocks.js" type="text/javascript"></script>
<script src="js/app.js" type="text/javascript"></script>
<script src="js/services.js" type="text/javascript"></script>
<script src="js/controllers.js" type="text/javascript"></script>
<script src="admins/js/jquery.nicescroll.js"></script>
<script src="admins/js/scripts.js"></script>
<!--//scrolling js-->
<script src="admins/js/bootstrap.min.js"></script>

</body>
</html>
