<style type="text/css">
.wrap2{
	margin:0 auto;
	width:auto;
}
.logo2{
	margin-top:50px;
}	
.logo2 h1{
	font-size:200px;
	color:#8F8E8C;
	text-align:center;
	margin-bottom:1px;
	text-shadow:1px 1px 6px #fff;
}	
.logo2 p{
	color:rgb(228, 146, 162);
	font-size:20px;
	margin-top:1px;
	text-align:center;
}	
.logo2 p span{
	color:lightgreen;
}	
.sub a{
	color:white;
	background:#8F8E8C;
	text-decoration:none;
	padding:7px 120px;
	font-size:13px;
	font-family: arial, serif;
	font-weight:bold;
	-webkit-border-radius:3em;
	-moz-border-radius:.1em;
	-border-radius:.1em;
}	

</style>

	<div class="wra2">
	   <div class="logo2">
	   <h1>404</h1>
	    <p>Error occured! - Page Not Found</p>
  	      <div class="sub">
	        <p><a href="#" ng-click="goBack()">Back</a></p>
	      </div>
        </div>
	</div>
	<div style="padding-top: 20%"></div>