<div class="wrapper row2">
    <div id="container" class="clear">
        <div id="about-us" class="clear">
            <section id="about-intro" class="clear">
                <h1>Team iReserve</h1>
                <p>iReserve is an online reservation app developed by Team iReserve.</p>
            </section>
            <section id="team">
                <h2>Team Members</h2>
                <ul class="clear">
                    <li class="one_quarter first">
                        <figure><img src="images/neiell.jpg" alt="">
                            <figcaption>
                                <p class="team_name">Neiell Care L. Paradiang</p>
                                <p class="team_title">Project Manager</p>
                                <p> </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="one_quarter">
                        <figure><img src="images/loreinne.jpg" alt="">
                            <figcaption>
                                <p class="team_name">Loreinne C. Estenzo</p>
                                <p class="team_title">Senior Manager</p>
                                <p> </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="one_quarter">
                        <figure><img src="images/marj.jpg" alt="">
                            <figcaption>
                                <p class="team_name">Marjorie G. Buctolan</p>
                                <p class="team_title">Developer</p>
                                <p> </p>
                            </figcaption>
                        </figure>
                    </li>
                    <li class="one_quarter">
                        <figure><img src="images/kristel.jpg" alt="">
                            <figcaption>
                                <p class="team_name">Kristel Ahlaine Gem D. Pabillaran</p>
                                <p class="team_title">Developer</p>
                                <p> </p>
                            </figcaption>
                        </figure>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>