<div class="container" style="padding-top: 20px" onLoad="location.reload();">
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-6">
	<div class="box box-primary" ng-controller="transactionController">
            <div class="box-header with-border">
              <h3 class="box-title">Additional Information</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form" ng-submit="afterpayment()">
              <div class="box-body">
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter Name" required ng-model="additionalForm.name">
                </div>
                <div class="form-group">
                  <label for="ContactNumber">Contact Number</label>
                  <input type="number" class="form-control" id="ContactNumber" placeholder="Enter Contact Number" required ng-model="additionalForm.contactnumber">
                </div>
                <div class="form-group">
                  <label for="Email">Email Address</label>
                  <input type="email" class="form-control" id="Email" placeholder="Enter Email Address" required ng-model="additionalForm.email">
                </div>
              <!-- /.box-body -->

              <div class="box-footer" style="padding-top: 10%">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>

</div>
<div class="col-md-3"></div>
</div>
</div>
