<div style="background-color: #34495e; height: 100px">
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="navbar-right" style="padding-top: 10px">
                <button data-toggle="dropdown" class="btn nav-background dropdown-toggle" type="button">PHP <span
                        class="caret"></span></button>
                <button data-toggle="dropdown" class="btn nav-background dropdown-toggle" type="button">Login <span
                        class="caret"></span></button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12" style="padding-top: 120px">
            <p class="logo">iReserve</p>
            <p class="logo-pad">Online Hotel Reservation Site</p>
        </div>
    </div>

    <div class="row">

            <div class="col-md-3"></div>
            <div class="col-md-6">
                <section class="main">
                    <form class="search" ng-submit="landingsearch()" >
                        <input class="form-control" id="navbarInput-01" type="search"
                               placeholder="e.g Cagayan de Oro City" ng-model="homesearchForm.search"><br>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="submit" class="btn btn-block btn-lg search-btn">Search</button>
                            </div>
                            <div class="col-md-6">
                                <a href="#" class="btn btn-block btn-lg search-btn">Most Visited</a>

                            </div>
                        </div>
                    </form>
                </section>
            </div>
            <div class="col-md-3"></div>

    </div>



</div>
</div>