<section id="promo-1" class="content-block promo-1 min-height-600px bg-offwhite">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <h2 style="font-size:40px; color: honeydew; text-shadow: 1px 1px #676a62;">Searching for Awesome Place to Stay? <br>Find it Here!</h2>
                <form ng-submit="search()">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" placeholder="E.g. Cagayan de Oro" class="form-control" ng-model="searchForm.location"/>
                    </div>
                    <a type="submit" class="btn btn-primary btn-block">Search</a>
                </form>
            </div>


            <!-- /.col -->
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
