    <div class="login-box box" ng-controller="userController">
  <div class="login-logo">
    <a href="#"><b>System Admin login</b></a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body" >
    <p class="login-box-msg">Sign in to start your session</p>

    <form ng-submit="loginadmin()">
      <div class="form-group has-feedback">
        <input type="email" class="form-control" placeholder="Email" ng-model="loginForm.email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" placeholder="Password" ng-model="loginForm.password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-8">

        </div>
        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>



    <a href="#">I forgot my password</a><br>
  </div>
  <!-- /.login-box-body -->


</div>
