<div ng-controller="searchController">
    <div class="row panel">
        <div class="container">
          <div >
            <h1 style="padding: 9px 9px 0px 0px; text-transform: uppercase; font-size: 40px"><strong>{{ hotel_id.hotel_name }}</strong> </h1>
            <h4>{{ hotel_id.address }} | <small style="color: #2d5f92; font-size: 15px">{{ hotel_id.website_url }}</small></h4>
          </div>
        </div>
    </div>

<div class="container mt50">
    <div class="row">
        <!-- Slider -->
        <div class="panel">
        <ul class="pgwSlider">
        <li ng-repeat="res in hotel_id.images">
           <img src="http://127.0.0.1:5000/uploads/{{ res }}"/>
        </li>      
        </ul>
            </div>
        <!-- Reservation form -->
        <section class="rooms mt50">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12" style="padding-top: 40px">
                        <div class="well">
                            <p><strong>Number of Rooms: {{ hotel_id.no_of_rooms }}</strong></p>
                        </div>
                        <h2 class="lined-heading"><span style="font-size: 30px">Room type</span></h2>
                        <hr>
                    </div>
                    <div class="col-sm-6 col-md-4" ng-repeat="resp in hotel_id.rooms">
                        <div class="thumbnail">
                                <h3 style="text-align:center; font-size: 30px"><strong>{{ resp[0] }}</strong></h3>
                                <hr>
                                <p style="text-align:center">Cost: {{ " " + resp[1] }}</p>
                                <p style="text-align:center">Max Person: {{ " " + resp[2] }}</p>
                                <p style="text-align:center">Total Rooms: {{ " " + resp[4] }}</p>
                                <button style="align-items: center" class="btn btn-primary" ng-click="init_transaction('', '', resp[1], hotel_id.id, resp[5] )">iReserve
                                </button>
                            </div>
                        </div>
                    </div>

                    <!-- Room -->
                    <div class="col-sm-4">
                    </div>
                    <!-- Room -->
                    <!-- Room -->
                </div>
            </div>
        </section>
        <!-- Room Content -->
        <section>
            <div class="container" style="padding-top: 10px">
                <div class="row panel">
                    <div class="col-md-12">
                        <h2 class="lined-heading"><span>Descripton</span></h2>
                        <hr>
                        <p class="mt50">{{ hotel_id.description }}</p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 panel">
                        <h2 class="lined-heading"><span>About Hotel</span></h2>
                        <hr>
                        <div ng-repeat="feature in hotel_id.hotel_features">
                            <h3 class="mt50">{{ feature[1] }}</h3>
                            <div ng-init="features_list(feature[0])">
                            <div >
                            <table class="table table-striped mt30">
                                <tbody>
                                <tr ng-repeat="res in list">
                                <div ng-init="features_list(feature[0])" >
                                    <td style="font-size: 15px"><i class="fa fa-check-circle"></i> {{ res[1] }}</td>
                                
                                </div>
                                </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                            </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="panel">
            <h2 class="lined-heading" style="text-indent: 1em"><span>Feedback</span></h2>

        <div class="box-footer box-comments">
              <div class="box-comment">
                <div class="comment-text">
                      <span class="username">
                        Maria Gonzales
                        <span class="text-muted pull-right">8:03 PM Today</span>
                      </span><!-- /.username -->
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
              <div class="box-comment">

                <div class="comment-text">
                      <span class="username">
                        Luna Stark
                        <span class="text-muted pull-right">8:03 PM Today</span>
                      </span><!-- /.username -->
                  It is a long established fact that a reader will be distracted
                  by the readable content of a page when looking at its layout.
                </div>
                <!-- /.comment-text -->
              </div>
              <!-- /.box-comment -->
            </div>
            </div>
</div>
</div>
    </div>
    <script>
        $(document).ready(function () {
            $('.pgwSlider').pgwSlider();
        });
    </script>
