<div class="container">
    <h1>Hotel Register</h1>
    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
    <form class="form" ng-submit="register()">

        <div class="form-group">
            <label>Hotel Name</label>
            <input type="text" class="form-control" ng-model="registerForm.hotel_name" required>
        </div>

        <div class="form-group">
            <label>Email Address</label>
            <input type="email" class="form-control" ng-model="registerForm.email" required>
        </div>

        <div class="form-group">
            <label>Address</label>
            <input type="text" class="form-control" ng-model="registerForm.address" required>
        </div>

        <div class="form-group">
            <label>Contact Number</label>
            <input type="number" class="form-control" ng-model="registerForm.contact" required>
        </div>

        <div class="form-group">
            <label>Website URL</label>
            <input type="url" class="form-control" ng-model="registerForm.url" required>
        </div>

        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" ng-model="registerForm.description" required>
        </div>

        <div class="form-group">
            <label>Paypal Address</label>
            <input type="email" class="form-control" ng-model="registerForm.paypal" required>
        </div>

        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" ng-model="registerForm.password" required>
        </div>

        <div class="form-group">
            <label>Number of Rooms</label>
            <input type="number" class="form-control" ng-model="registerForm.room" required>
        </div>

        <div>
            <button type="submit" class="btn btn-default" ng-disabled="disabled">Register</button>
        </div>
    </form>
</div>
