<div class="row top-border">
    <div class="col-lg-3 col-md-12"></div>
    <div class="col-lg-3 col-md-12">
        <form class="search-form" ng-submit="search()">
            <div class="input-group">
                <div class="input-group-addon"><span><i class="glyphicon glyphicon-search"></i></span></div>
                <input class="form-control" type="text" placeholder="e.g. Iligan City" ng-model="searchForm.location">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="button">Search</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-3 col-md-12">
                <div class="form-group" style="padding-top: 20px">
                    <select class="form-control" ng-model="searchForm.room_name"
                            ng-init="searchForm.room_name = 'Single'">
                        <option value="Single">Single Room</option>
                        <option value="Double">Double Room</option>
                        <option value="Family">Family Room</option>
                    </select>
            </div>
    </div>
   <div class="col-lg-3 col-md-12"></div>
</div>
<div class="row">
    <div class="col-md-12 ">
        <div class="container">
            <div class="row box-header with-border">
                <div class="col-lg-3 col-md-12" style="padding-top: 30px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Filter </h3></div>
                        <div class="panel-body filter_height">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="well"><span> </span>
                                        <h6 style="font-size: 15px">Search Property Name</h6>
                                        <div class="form-group">
                                            <input type="text" value="" placeholder="e.g. Seda Hotel"
                                                   class="form-control" ng-model="searchForm.hotel_name">
                                        </div>

                                    </div>
                                </div>
                            </div>                    
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-12">
                    <div class="offer-grids" ng-controller="searchController">
                        <div class="col-md-12 offer-grid">
                            <div class="offer-grid1">
                            
                                <div ng-repeat="res in results | filter: searchForm.location | filter: searchForm.hotel_name | filter: searchForm.room_name | filter: price" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
                                
                                    <div class="row">
                                    <div>
                                        <div class="col-xs-12 col-sm-12 ">
                                            <div class="panel panel-default">
                                                <div class="row padall">
                                                    <div class="col-xs-12 col-sm-12 col-md-3 ">
                                                        <span></span>
                                                       <img src="http://127.0.0.1:5000/uploads/{{ res.image[0][0][1] }}" style="width:200px;height:150px;" />
                                                    </div>
                                                    <div class="col-xs-12 col-sm-12 col-md-9 ">
                                                        <div class="clearfix">
                                                            <div class="pull-left">
                                                            <a href="" ng-click="hotel(res.id_hotel)">
                                                                <span style="font-size: 30px; text-transform: uppercase">{{ res.hotel_name }}</span>
                                                            </a>
                                                            </div>
                                                            <div class="pull-right">
                                                                 Max Person: {{ res.max_person }} | Total Rooms: {{ res.total_room }}
                                                            </div>
                                                        </div>
                                                        <div style="text-transform: uppercase">
                                                            <h4 style="font-size: 25px"><span></span> <STRONG>₱</STRONG> {{ res.cost }}</h4>
                                                            {{ res.address }} 

                                                            <button class="btn btn-block btn-primary" ng-click="init_transaction(input.checkin, input.checkout, res.cost, res.id_hotel, res.id_room )" style="width: 110px; float: right">
                                                            <span class="fa fa-paypal pull-right"> iReserve</span></button>
                                                            
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                                                        </div>
                                        <!--// END Row -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<style>
img {
    max-width: 100%;
    height: auto;      
}

.clearfix {
    clear:both;
}

.rowcolor {
    background-color:#CCCCCC;
}

.padall {
    padding:10px;
}
</style>