.scrolled {
  transition: transform $duration ease;
  transform: translate3d(0, 0, 0);
  &.ng-enter {
    transform: translate3d(100%, 0, 0);
  }
  &.ng-enter-active {
    transform: translate3d(0, 0, 0);
  }
  &.ng-leave {
    transform: translate3d(0, 0, 0);
  }
  &.ng-leave-active {
    transform: translate3d(-100%, 0, 0);
  }
}

.backward {
  .scrolled {
    &.ng-enter {
      transform: translate3d(-100%, 0, 0);
    }
    &.ng-enter-active {
      transform: translate3d(0, 0, 0);
    }
    &.ng-leave {
      transform: translate3d(0, 0, 0);
    }
    &.ng-leave-active {
      transform: translate3d(100%, 0, 0);
    }
  }
}

.modal {
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
  &.ng-enter {
    opacity: 0;
    transform: scale(0.95) translate3d(0, 0.5em, 0);
  }
  &.ng-enter-active {
    opacity: 1;
    transform: scale(1) translate3d(0, 0, 0);
  }
  &.ng-leave {
    opacity: 1;
  }
  &.ng-leave-active {
    opacity: 0;
  }
}
.backward {
  .modal {
    transition: opacity 1s ease, transform 1s ease;
    opacity: 1;
    &.ng-enter {
      opacity: 0;
      transform: scale(1) translate3d(0, 0, 0);
    }
    &.ng-enter-active {
      opacity: 1;
      transform: scale(1) translate3d(0, 0, 0);
    }
    &.ng-leave {
      opacity: 1;
      transform: scale(1) translate3d(0, 0, 0);
    }
    &.ng-leave-active {
      opacity: 0;
      transform: scale(0.95) translate3d(0, 0.5em, 0);
    }
  }
}