.nav-background {
    background: transparent;
    color: black;
}


.logo-pad {
    text-align: center;
    padding-left: 24%;
}

.logo {
    font-size: 50px;
    text-align: center;
    font-family: "Century Schoolbook";
    color: rgb(118, 144, 64);
    font-style: italic;
    -moz-transform: matrix(2.81425293052525, 0, 0, 2.81425293052525, 0, 0);
    -webkit-transform: matrix(2.81425293052525, 0, 0, 2.81425293052525, 0, 0);
    -ms-transform: matrix(2.81425293052525, 0, 0, 2.81425293052525, 0, 0);
    z-index: 2;
}

.search-btn {

    text-decoration-color: aquamarine;
    color: white;
    background-color: rgb(118, 144, 64);
    font-family: "Century Schoolbook";
}

.main {
    margin-right: auto;
    padding-top: 50px;
    align-self: center;
}

input {
    font-family: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    color: #555860;
}

.search {
    position: relative;
    margin: 0 auto;
    width: 500px;
}

.search input {
    height: 50px;
    width: 100%;
    padding: 0 12px 0 25px;
    background: white url("http://cssdeck.com/uploads/media/items/5/5JuDgOa.png") 8px 6px no-repeat;
    border-width: 1px;
    border-style: solid;
    border-color: #a8acbc #babdcc #c0c3d2;
    border-radius: 13px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -moz-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -ms-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    -o-box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
    box-shadow: inset 0 1px #e5e7ed, 0 1px 0 #fcfcfc;
}

.search input:focus {
    outline: none;
    border-color: #66b1ee;
    -webkit-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -moz-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -ms-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    -o-box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
    box-shadow: 0 0 2px rgba(85, 168, 236, 0.9);
}

.nav-custom {
    width: 100%;
    height: 60px;
    background-color: rgb(118, 144, 64);
}
.nav-custom a {
    padding-left: 1%;
    font-size: 30px;
    text-decoration-color: floralwhite;
    font-family: "Century Schoolbook";
    color: #ffffff;
    font-style: italic;
    -moz-transform: matrix(2.81425293052525, 0, 0, 2.81425293052525, 0, 0);
    -webkit-transform: matrix(2.81425293052525, 0, 0, 2.81425293052525, 0, 0);
    -ms-transform: matrix(2.81425293052525, 0, 0, 2.81425293052525, 0, 0);
    z-index: 2
}

.nav-header{
  height:100px;
  background-color:#8CC026;
}

h1.text-center{
  font-size:50px;
  font-weight:400;
  color:#ffffff;
}

.info-table{
  height:auto;
}

.search_name{
  align-items:center;
}

.hotel_border{
  border-color:#000000;
  border-radius:1%;
  height:100px;
  border:outset;
}

.filter_height{
  height:500px;
}

.top-border{
  outline:outset;
  color:rgba(0,0,0,0.247059);
  outline-width:thin;
  background-color: #fefffd;
}

.hotel-display-outline{
  outline:outset;
  outline-color:rgba(234,21,21,0.2);
  outline-width:thin;
  height:200px;
}

.reserve-button{
  align-self:center;
}

