<div class=" profile">
                <div class="profile-bottom">
                    <div class="profile-bottom-top">
                        <div class="col-md-12">
                <div class="login-mail">
					<input type="text" placeholder="Room Type" required="" ng-model="room.room_type">
				</div>
                <div class="login-mail">
					<input type="text" placeholder="Cost" required="" ng-model="room.cost">
				</div>

                <div class="login-mail">
					<input type="text" placeholder="Max Number of Person" required="" ng-model="room.max_person">
				</div>
				<div class="login-mail">
					<input type="text" placeholder="Available Room" required="" ng-model="room.available_room">
				</div>
				<div class="login-mail">
					<input type="password" placeholder="Total Number of Rooms" required="" ng-model="room.total_room">
				</div>
			</div>
                        <!--<div id="table" class="table-editable">-->
                            <!--<table class="table">-->
                                <!--<tr>-->
                                    <!--<th>Room Type</th>-->
                                    <!--<th>Price</th>-->
                                    <!--<th>Number of Rooms</th>-->
                                <!--</tr>-->
                                <!--<tr>-->
                                    <!--<td contenteditable="false">Single</td>-->
                                    <!--<td contenteditable="true">Php1500</td>-->
                                    <!--<td contenteditable="true">20</td>-->
                                    <!--<td class="fa fa-remove"></td>-->
                                <!--</tr>-->
                            <!--</table>-->
                        <!--</div>-->
                        <div class="clearfix"></div>
                        <div class="profile-btn">
                            <a ui-sref="hotel_admin_add_room">
                                <center><button type="button" class="btn bg-red">Add</button></center>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
