	<div class="login">
		<form class="login-bottom" ng-submit="hotel_admin_addpersonnel()">
			<h2>Add Personnel</h2>
			<div class="col-md-12">
                <div class="login-mail">
					<input type="text" placeholder="First Name" required="" ng-model="registerForm.fname">
					<i class="fa fa-male"></i>
				</div>

                <div class="login-mail">
					<input type="text" placeholder="Middle Name" required="" ng-model="registerForm.mname">
					<i class="fa fa-male"></i>
				</div>

                <div class="login-mail">
					<input type="text" placeholder="Last Name" required="" ng-model="registerForm.lname">
					<i class="fa fa-male"></i>
				</div>
				<div class="login-mail">
					<input type="text" placeholder="Email" required="" ng-model="registerForm.email">
					<i class="fa fa-envelope"></i>
				</div>
				<div class="login-mail">
					<input type="password" placeholder="Password" required="" ng-model="registerForm.password">
					<i class="fa fa-lock"></i>
				</div>
				<div class="login-mail">
					<input type="password" placeholder="Repeated password" required="">
					<i class="fa fa-lock"></i>
				</div>
			</div>
            <div class="col-md-4"></div>
			<div class="row login-do">
				<label class="hvr-shutter-in-horizontal login-sub">
					<input type="submit">
					</label>
			</div>
			<div class="clearfix"> </div>
		</form>
	</div>
