<div class=" profile">
    <div class="profile-bottom">
        <h3>
            <i class="fa fa-user"></i> Edit Profile</h3>
        <div class="profile-bottom-top">

            <div class="col-md-12 profile-text">
                <h6>Marjorie Buctolan</h6>
                <table>
                    <tbody>
                    <tr>
                        <td>Email Address</td>
                        <td>:</td>
                        <td>
                            <input type="text" class="form-control1" placeholder="email address">
                        </td>
                    </tr>
                    <tr>
                        <td>Hotel Name</td>
                        <td>:</td>
                        <td>
                            <input type="text" class="form-control1" placeholder="hotel name">
                        </td>
                    </tr>
                    <tr>
                        <td>Website Url</td>
                        <td>:</td>
                        <td>
                            <input type="text" class="form-control1" placeholder="website url">
                        </td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td>:</td>
                        <td>
                            <input type="text" class="form-control1" placeholder="description">
                        </td>
                    </tr>
                    <tr>
                        <td>Paypal Account</td>
                        <td>:</td>
                        <td>
                            <input type="text" class="form-control1" placeholder="paypal account">
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>:</td>
                        <td>
                            <input type="text" class="form-control1" placeholder="password">
                        </td>
                    </tr>
                    <tr>
                        <td>Contact Number</td>
                        <td>:</td>
                        <td>
                            <input type="text" class="form-control1" placeholder="contact number">
                        </td>
                    </tr>
                    <tr>
                        <td>Map Latitude</td>
                        <td>:</td>
                        <td>
                            <input type="text" class="form-control1" placeholder="map latitude">
                        </td>
                    </tr>
                    <tr>
                        <td>Map Longitude</td>
                        <td>:</td>
                        <td>
                            <input type="text" class="form-control1" placeholder="map longitude">
                        </td>
                    </tr>
                    <tr>
                        <td>Number of Rooms</td>
                        <td>:</td>
                        <td>
                            <input type="text" class="form-control1" placeholder="number of rooms">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="profile-btn">
            <a href="hotelprofile.html">
                <button type="button" class="btn bg-red">Save Changes</button>
            </a>
        </div>
    </div>
</div>
