
                <!--//banner-->
                <!--gallery-->
                        <div class="profile-bottom-top">
                            <div class="col-md-8 profile-text">
                                <h6>Marjorie Buctolan</h6>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td>Email Address</td>
                                            <td>:</td>
                                            <td>email address</td>
                                        </tr>
                                        <tr>
                                            <td>Hotel Name</td>
                                            <td>:</td>
                                            <td>hotel name</td>
                                        </tr>
                                        <tr>
                                            <td>Website Url</td>
                                            <td>:</td>
                                            <td>website url</td>
                                        </tr>
                                        <tr>
                                            <td>Description</td>
                                            <td>:</td>
                                            <td>description</td>
                                        </tr>
                                        <tr>
                                            <td>Paypal Account</td>
                                            <td>:</td>
                                            <td>paypal account</td>
                                        </tr>
                                        <tr>
                                            <td>Password</td>
                                            <td>:</td>
                                            <td>#######</td>
                                        </tr>
                                        <tr>
                                            <td>Contact Number</td>
                                            <td>:</td>
                                            <td>contact number</td>
                                        </tr>
                                        <tr>
                                            <td>Number of Rooms</td>
                                            <td>:</td>
                                            <td>number of rooms</td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                            <div class="profile-btn">
                            <a ui-sref="hotel_admin_editprofile">
                                <button class="btn bg-red">Edit Profile</button>
                            </a>
                        </div>
                        </div>

                    </div>
                </div>

