<!-- 
<form ng-submit="uploadImage()" enctype="multipart/form-data">
        <input type="file" multiple="" file-input="files" class="span3" /><br />
        <input type="submit" value="Upload"  class="span2">
      </form> -->


<!-- <form>
    <input type="file" id="img_file"
    name="file" multiple />
    <button ng-click="uploadImage()">Upload</button>
    <li ng-repeat="file in files">{{ file.name }}</li>
</form>
 -->

<form id="uploadform" method="post" enctype="multipart/form-data">
    <label for="file">Select a file</label>
    <input name="file[]" type="file" multiple>
    <button id="submit" type="button">Upload</button>
</form>

<script>
    $(function() {
    $('#submit').click(function() {
        event.preventDefault();
        var form_data = new FormData($('#uploadform')[0]);
        $.ajax({
            type: 'POST',
            beforeSend: function (request)
            {
                request.setRequestHeader("Authorization", 'Bearer ' + sessionStorage.token);
            },
            url: 'http://127.0.0.1:5000/api/v1.0/upload/image/',
            data: form_data,
            contentType: false,
            processData: false,
            dataType: 'json'
        }).done(function(data, textStatus, jqXHR){
            console.log(data);
            console.log(textStatus);
            console.log(jqXHR);
            console.log('Success!');
        
        }).fail(function(data){
            alert('error!');
        });
    });
}); 

</script>


<div class="container" ng-controller="imageController">
    <div class="row" ng-init="getImage()">
        <div class="text-center">
            <h1>Photos</h1>
        </div>
        <div ng-repeat="res in images">
            <div class="col-md-4">
                <div class="well">
                    <img class="thumbnail img-responsive"
                        src="http://127.0.0.1:5000/uploads/{{ res.name }}" />
                        <button>delete</button>
                </div>
            </div>
        </div>
        
         
    </div>
</div>