<div class=" profile">
                <div class="profile-bottom">
                    <div class="profile-bottom-top">
                        <div id="table" class="table-editable">
                            <table class="table">
                                <tr>
                                    <th>Room Type</th>
                                    <th>Cost</th>
                                    <th>Max Number of Person</th>
                                    <th>Available Room</th>
                                    <th>Total Number of Rooms</th>
                                </tr>
                                <tr>
                                    <td>Single</td>
                                    <td>Php1500</td>
                                    <td>1</td>
                                    <td>10</td>
                                    <td>100</td>
                                </tr>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                        <div class="profile-btn">
                            <a ui-sref="hotel_admin_update_room">
                                <button type="button" class="btn bg-red">Update</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
