
        <!--//banner-->
        <!--grid-->
        <div class="validation-system">
            <div class="validation-form">
                <!---->
                <form>
                    <div class="vali-form">
                        <div class="col-md-6 form-group1">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </form>
                <form role="form">
                    <div class="form-group">
                        <label class="control-label" for="exampleInputEmail1">Tin Number</label>
                        <input type="email" class="form-control" id="tin number" placeholder="Enter Tin Number">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="exampleInputPassword1">Business License</label>
                        <input type="password" class="form-control" id="business license" placeholder="Business Permit">
                    </div>
                    <div class="form-group">
                        <input type="file" id="exampleInputFile">
                        <!-- <p class="help-block">Example block-level help text here.</p>  -->
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="exampleInputPassword1">Proof Picture</label>
                        <input type="password" class="form-control" id="business license" placeholder="Proof Picture">
                    </div>
                    <div class="form-group">
                        <input type="file" id="exampleInputFile">
                        <!-- <p class="help-block">Example block-level help text here.</p>  -->
                    </div>
                    <div class="profile-btn">
                        <a href="validation.html">
                            <button type="button" class="btn bg-red">Submit</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
