<div class="container-fluid" ng-init="hotel_getpersonnel()">
                <table class="table">
                    <thead>
                            <th>Personnel Name</th>
                            <th>Email address</th>
                    </thead>
                    <tbody ng-repeat="res in personnel_hotel">
                        <tr>
                            <td>{{ res.fname + " " + res.mname + " " + res.lname }}</td>
                            <td>{{ res.email }}</td>
                            <td class="col-md-2">
                                <a href="confirm.html"><button type="button" class="btn btn-s btn-danger">Decline</button></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
