<div class="content-main">
    <div class="content-mid">
        <div class="banner">
            <h2><a ui-sref="hotel_personnel">Home</a> <i class="fa fa-angle-right"></i><span>Transaction</span></h2>
        </div>
        <div class="container-fluid">
            <table class="table">
                <thead>
                <th>
                    <center>Transaction No.</center>
                </th>
                <th>
                    <center>Name</center>
                </th>
                <th>
                    <center>Check-in Date</center>
                </th>
                <th>
                    <center>Check-out Date</center>
                </th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <center>1234abc</center>
                    </td>
                    <td>
                        <center>Care Paradiang</center>
                    </td>
                    <td>
                        <center>date1</center>
                    </td>
                    <td>
                        <center>date2</center>
                    </td>
                    <td class="col-md-2">
                        <a href="confirm.html">
                            <button type="button" class="btn btn-s btn-success disabled">Confirm</button>
                        </a>
                    </td>
                    <td class="col-md-2">
                        <a href="confirm.html">
                            <button type="button" class="btn btn-s btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>12345abcd</center>
                    </td>
                    <td>
                        <center>Loreinne Estenzo</center>
                    </td>
                    <td>
                        <center>date1</center>
                    </td>
                    <td>
                        <center>date2</center>
                    </td>
                    <td class="col-md-2">
                        <a href="confirm.html">
                            <button type="button" class="btn btn-s btn-success disabled">Confirm</button>
                        </a>
                    </td>
                    <td class="col-md-2">
                        <a href="confirm.html">
                            <button type="button" class="btn btn-s btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <center>123456abcde</center>
                    </td>
                    <td>
                        <center>Marjorie Buctolan</center>
                    </td>
                    <td>
                        <center>date1</center>
                    </td>
                    <td>
                        <center>date2</center>
                    </td>
                    <td class="col-md-2">
                        <a href="confirm.html">
                            <button type="button" class="btn btn-s btn-success disabled">Confirm</button>
                        </a>
                    </td>
                    <td class="col-md-2">
                        <a href="confirm.html">
                            <button type="button" class="btn btn-s btn-danger">Delete</button>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>