<div class="content-main">

    <!--banner-->
    <div class="banner">
        <h2>
            <a href="home.html">Home</a>
            <i class="fa fa-angle-right"></i>
            <span>Profile</span>
        </h2>
    </div>
    <!--//banner-->
    <!--gallery-->
    <div class=" profile">
        <div class="profile-bottom">
            <h3><i class="fa fa-user"></i>Profile</h3>
            <div class="profile-bottom-top">
                <div class="col-md-8 profile-text">
                    <h6>Song Joong Ki</h6>
                    <table>
                        <tr>
                            <td>Email</td>
                            <td>:</td>
                            <td><a href="#">joongki@gmail.com</a></td>
                        </tr>
                        <tr>
                            <td>First Name</td>
                            <td>:</td>
                            <td>Joong</td>
                        </tr>
                        <tr>
                            <td>Middle Name</td>
                            <td>:</td>
                            <td>Ki</td>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td>:</td>
                            <td>Song</td>
                        </tr>
                        <tr>
                            <td>Password</td>
                            <td>:</td>
                            <td>asdf</td>
                        </tr>
                    </table>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="profile-btn">
                <a ui-sref="hotel_personnel_profile">
                    <button type="button" class="btn bg-red">Save Changes</button>
                </a>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>