<!--<div class="content-main">-->
    <!--&lt;!&ndash;banner&ndash;&gt;-->
    <!--<div class="banner">-->
        <!--<h2><a ui-sref="hotel_personnel">Home</a><i class="fa fa-angle-right"></i><span>Dashboard</span></h2>-->
    <!--</div>-->
    <!--&lt;!&ndash;//banner&ndash;&gt;-->
    <!--&lt;!&ndash;content&ndash;&gt;-->
    <!--<br>-->
<!--</div>-->

<div class="content-top">

 <script type="text/javascript">

        $(document).ready(function () {
            $('#demo-pie-1').pieChart({
                barColor: '#3bb2d0',
                trackColor: '#eee',
                lineCap: 'round',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-2').pieChart({
                barColor: '#fbb03b',
                trackColor: '#eee',
                lineCap: 'butt',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });

            $('#demo-pie-3').pieChart({
                barColor: '#ed6498',
                trackColor: '#eee',
                lineCap: 'square',
                lineWidth: 8,
                onStep: function (from, to, percent) {
                    $(this.element).find('.pie-value').text(Math.round(percent) + '%');
                }
            });


        });

    </script>
             <div class="content-main">

                    <!--banner-->
                    <div class="banner">

                        <h2>
                            <a ui-sref="hotel_personnel">Home</a>
                            <i class="fa fa-angle-right"></i>
                            <span>Dashboard</span>
                        </h2>
                    </div>
                    <!--//banner-->
                    <!--content-->
             </div>
    <br>
			<div class="col-md-12 ">
				<div class="content-top-1">
				<div class="col-md-6 top-content">
					<h5>Tasks</h5>
					<label>8761</label>
				</div>
				<div class="col-md-6 top-content1">
					<div id="demo-pie-1" class="pie-title-center" data-percent="25"> <span class="pie-value">25%</span></div>
				</div>
				 <div class="clearfix"> </div>
				</div>
				<div class="content-top-1">
				<div class="col-md-6 top-content">
					<h5>Points</h5>
					<label>6295</label>
				</div>
				<div class="col-md-6 top-content1">
					<div id="demo-pie-2" class="pie-title-center" data-percent="50"> <span class="pie-value">50%</span> </div>
				</div>
				 <div class="clearfix"> </div>
				</div>
				<div class="content-top-1">
				<div class="col-md-6 top-content">
					<h5>Cards</h5>
					<label>3401</label>
				</div>
				<div class="col-md-6 top-content1">
					<div id="demo-pie-3" class="pie-title-center" data-percent="75"> <span class="pie-value">75%</span></div>
				</div>
				 <div class="clearfix"> </div>
				</div>
			</div>
		<div class="clearfix"> </div>

    </div>