<div class="content-main" >
    <div class="content-mid">
        <div class="container-fluid" ng-init="get_transaction()">
            <table class="table">
                <thead>
                <th style="text-align: center">Transaction No.</th>
                <th style="text-align: center">Name</th>
                <th style="text-align: center">Date of Transaction</th>
                <th></th>
                <th></th>
                </thead>
                <tbody>
                    <tr ng-repeat="t in transaction">
                        <td style="text-align: center">{{ t.transaction_number }}</td>
                        <td style="text-align: center">{{ t.name }}</td>
                        <td style="text-align: center">{{ t.fee }}</td>
                        <td class="col-md-2">
                            <button ng-click="confirm_transaction(t.transaction_number, t.fee, t.payment_id, t.payer_id)" type="button" class="btn btn-s btn-success">Confirm</button>
                        </td>
                        <td class="col-md-2">
                            <button type="button" class="btn btn-s btn-danger">Decline</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>